#test-error {
    background-color: red;
    border: 3px solid #000;
    margin: 30px auto;
    height: auto;
    width: 100%;
    display: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
}

.test-error button {
    display: block;
}

#test-error h1 {
    font-family: "Quicksand", sans-serif;
    width: 90%;
    box-sizing: border-box;
    text-align: justify;
    margin: 15px auto;
}