.home {
    font-family: "Poppins", sans-serif;
}

.home h1 {
    font-size: 3.5em;
    font-family: "Quicksand", sans-serif;
}

.home label {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
}

form input{
    border: 2px solid #000;
    border-radius: 10px;
    height: 3.5em;
    width: 60%;
    padding: 3px 7px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}

.home button {
    margin: 5px 5px;
    background-color: transparent;
    text-transform: capitalize;
    border: 2px solid #000;
}

.home button:hover {
    border: 2px solid #000;
    color: red;
    background-color: white;
}